<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mact.proxyproof">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:name=".schedule.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material"
        tools:targetApi="31">

        <activity android:name="com.mact.proxyproof.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.mact.proxyproof.TeacherLoginActivity"
            android:exported="true">
        </activity>
        <activity android:name="com.mact.proxyproof.TeacherSignUpActivity"
            android:exported="true">
        </activity>
        <activity android:name="com.mact.proxyproof.ExportActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.mact.proxyproof.PermissionActivity"
            android:exported="true">
        </activity>
        <activity android:name="com.mact.proxyproof.ScheduleActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="com.mact.proxyproof.receiver.FileReceiverActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".explorer.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <provider
            android:name=".explorer.FileProvider"
            android:authorities="com.mact.proxyproof.explorer.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name=".schedule.ScheduleActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ScheduleActivityTheme">


            <nav-graph android:value="@navigation/nav" />

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".schedule.ui.activity.PreferenceActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <provider
            android:name=".schedule.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.mact.proxyproof.schedule.widget.TimetableWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="com.txwstudio.app.timetable.TIMETABLE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_widget_info" />
        </receiver>

        <service
            android:name=".schedule.widget.TimetableWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>